<div id='apps-view'>

    <div id='apps-grid'>

        <div class='calendar-grid'>
            <div id='calendar'>
            </div>
            <div id='calendar-button'>
                <a href="/contact">
                    <button type="button" name="button">BOOK!</button>
                </a>
            </div>
        </div>

        <div id='info'>
            <div id='dist'>
                <p>50 m</p>
                <p>500 m</p>
                <p>700 m</p>
                <p>1 km</p>
                <p>3 km</p>
                <p>5 km</p>
                <p>9 km</p>
                <p>31 km</p>
            </div>
            <div id='icon'>
                <img class='filter' src='../assets/img/beach.png'>
                <img class='filter' src='../assets/img/cocktail.png'>
                <img class='filter' src='../assets/img/restaurant.png'>
                <img class='filter' src='../assets/img/shopping-cart.png'>
                <img class='filter' src='../assets/img/wallet.png'>
                <img class='filter' src='../assets/img/fuel-station.png'>
                <img class='filter' src='../assets/img/stethoscope.png'>
                <img class='filter' src='../assets/img/plane.png'>
            </div>
            <div id='surrounding'>
                <p>{{ lang.info_beach }}</p>
                <p>{{ lang.info_coctail }}</p>
                <p>{{ lang.info_restaurant }}</p>
                <p>{{ lang.info_atm }}</p>
                <p>{{ lang.info_shopping }}</p>
                <p>{{ lang.info_fuel }}</p>
                <p>{{ lang.info_airport }}</p>
                <p>{{ lang.info_hospital }}</p>
            </div>
        </div>

        <div id='model'>
            <div class='gallery fotorama'>
                <img src='../assets/apps/3d/red.png'>
                <img src='../assets/apps/3d/orange.png'>
                <img src='../assets/apps/3d/pink.png'>
                <img src='../assets/apps/3d/blue.png'>
                <img src='../assets/apps/3d/white.png'>
                <img src='../assets/apps/3d/green.png'>
            </div>
        </div>

        <div id='app-red'>
            <div class='gallery fotorama'>
                <img src='../assets/apps/red/r2d.jpg'>
                <img src='../assets/apps/red/red1.jpg'>
                <img src='../assets/apps/red/red2.jpg'>
                <img src='../assets/apps/red/red3.jpg'>
                <img src='../assets/apps/red/red4.jpg'>
                <img src='../assets/apps/red/red5.jpg'>
                <img src='../assets/apps/red/red6.jpg'>
            </div>
        </div>

        <div id='app-orange'>
            <div class='gallery fotorama'>
                <img src='../assets/apps/orange/o2d.jpg'>
                <img src='../assets/apps/orange/orange1.jpg'>
                <img src='../assets/apps/orange/orange2.jpg'>
                <img src='../assets/apps/orange/orange3.jpg'>
                <img src='../assets/apps/orange/orange4.jpg'>
                <img src='../assets/apps/orange/orange5.jpg'>
                <img src='../assets/apps/orange/orange6.jpg'>
                <img src='../assets/apps/orange/orange7.jpg'>
            </div>
        </div>

        <div id='app-pink'>
            <div class='gallery fotorama'>
                <img src='../assets/apps/pink/p2d.jpg'>
                <img src='../assets/apps/pink/pink1.jpg'>
                <img src='../assets/apps/pink/pink2.jpg'>
                <img src='../assets/apps/pink/pink3.jpg'>
                <img src='../assets/apps/pink/pink4.jpg'>
                <img src='../assets/apps/pink/pink5.jpg'>
            </div>
        </div>

        <div id='app-blue'>
            <div class='gallery fotorama'>
                <img src='../assets/apps/blue/b2d.jpg'>
                <img src='../assets/apps/blue/blue1.jpg'>
                <img src='../assets/apps/blue/blue2.jpg'>
                <img src='../assets/apps/blue/blue3.jpg'>
                <img src='../assets/apps/blue/blue4.jpg'>
                <img src='../assets/apps/blue/blue5.jpg'>
                <img src='../assets/apps/blue/blue6.jpg'>
                <img src='../assets/apps/blue/blue7.jpg'>
            </div>
        </div>

        <div id='app-white'>
            <div class='gallery fotorama'>
                <img src='../assets/apps/white/w2d.jpg'>
                <img src='../assets/apps/white/white1.jpg'>
                <img src='../assets/apps/white/white2.jpg'>
                <img src='../assets/apps/white/white3.jpg'>
                <img src='../assets/apps/white/white4.jpg'>
                <img src='../assets/apps/white/white5.jpg'>
                <img src='../assets/apps/white/white6.jpg'>
                <img src='../assets/apps/white/white7.jpg'>
            </div>
        </div>

        <div id='app-green'>
            <div class='gallery fotorama'>
                <img src='../assets/apps/green/g2d.jpg'>
                <img src='../assets/apps/green/green1.jpg'>
                <img src='../assets/apps/green/green2.jpg'>
                <img src='../assets/apps/green/green3.jpg'>
                <img src='../assets/apps/green/green4.jpg'>
                <img src='../assets/apps/green/green5.jpg'>
                <img src='../assets/apps/green/green6.jpg'>
                <img src='../assets/apps/green/green7.jpg'>
            </div>
        </div>

        <div id='apps-thumbnails'>
            <div id='app-red-thumbnail'><img src='../assets/apps/red/r2d.jpg'></div>
            <div id='app-orange-thumbnail'><img src='../assets/apps/orange/o2d.jpg'></div>
            <div id='app-pink-thumbnail'><img src='../assets/apps/pink/p2d.jpg'></div>
            <div id='app-blue-thumbnail'><img src='../assets/apps/blue/b2d.jpg'></div>
            <div id='app-white-thumbnail'><img src='../assets/apps/white/w2d.jpg'></div>
            <div id='app-green-thumbnail'><img src='../assets/apps/green/g2d.jpg'></div>
        </div>

    </div>

</div>
